# Diretório de dependências do Node.js
node_modules/

# Diretórios de saída de compilação
dist/
build/
out/

# Arquivo de cache do TypeScript
*.tsbuildinfo

# Cache de ferramentas de build
.cache/
.parcel-cache/

